.spanadd1 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd2 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd3 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd4 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd5 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd6 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd7 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd8 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd9 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd10 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd11 {
	border-style: dotted;
	border-width: 1px;
}
.spanadd12 {
	border-style: dotted;
	border-width: 1px;
}


